<h1>Player <%= @player.name %></h1>

<h2>Current tile tray:</h2>
<% @player.tile_tray.chars.each do |tile| %>
  <div class="tile">
    <p><%= tile %></p>
  </div>
<% end %>

<h2>Turn history:</h2>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Score</th>
    </tr>
  </thead>
  <% @player.turns.order(id: :desc).each do |turn| %>
    <tr>
      <td><%= turn.word %></td>
      <td><%= turn.score %></td>
    </tr>
  <% end %>
</table>
